@import "./basic.less";

.generate-col(12);

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.drag-container {
    .row;
    max-width: 1200px;
    margin: auto;
}

.drag-section {
    height: 500px;
    border: 1px solid #999;
}

.edit-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .edit-wrapper-action {
        transition: all 0.8s;
        opacity: 0;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-30px);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 60px;
    }
    &:hover {
        border: 1px solid #1e90ff;
        .edit-wrapper-action {
            opacity: 1;
        }
    }
}
