@import "./basic.less";

.generate-col(12);

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

.drag-container {
    .row;
    max-width: 1200px;
    margin: auto;
}

.drag-section {
    height: 500px;
    border: 1px solid #999;
}

.edit-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    .edit-wrapper-action {
        transition: all 0.8s;
        opacity: 0;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-30px);
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: 60px;
    }
    &:hover {
        border: 1px solid #1e90ff;
        .edit-wrapper-action {
            opacity: 1;
        }
    }
}
.drawer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.drawer-wrapper-right {
    height: 100%;
    background-color: #fff;
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    animation-name: drawer-move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.drawer-mask {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

@keyframes drawer-move {
    form {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0px);
    }
}
